* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .languages {
   display: none; 
  /* visibility: hidden; */
}

.home {
  height: 100vh;
  width: 100%;
  /* margin: 0 auto; */
  padding-top: 25vh;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(to top,rgba(0,0,0), rgba(0,0,0)) center top;
  background-size: cover;
}

.home-name {
  font-size: 3.5rem;
  padding: 0.4rem;
  margin: 1rem 0;
  border-bottom: 4px solid white;
}
.home-name_last {
  color: rgb(247, 143, 156);
  font-weight: 700;
}

#typing {
  padding: 1rem;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; /* hides the overflowing text */
  white-space: nowrap; /* prevents wrapping of text */
  letter-spacing: 0.15em; 
  animation: typing 3s steps(20, end) forwards ;

}

.cv-wrapper {
  /* margin-top: 2rem ; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cv {
  padding: 1rem;
  width: 150px;
  border: 2px solid  #5ca1cf;
  border-radius: 15px;
  font-size: .9rem;
  font-weight: 500;
  color: rgb(220, 220, 220);
  text-align: center;
}

.cv:hover {
  color: #5ca1cf;
  opacity: .7;
}


.home .social-icons {
  display: flex;
  flex-direction: row;
}

footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.menu-btn {
  position: absolute;
  z-index: 1;
  top: 1.8rem;
  right: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger  {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: white;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: white;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: white;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn_burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn_burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  width: 100%;
  opacity: 0.98;
  /* display: none; */
  visibility: hidden;
  /* background-color: black; */
}
.nav.open {
  visibility: visible;

}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.986);
  list-style: none;
  /* padding-right: 1rem; */
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 5;
 
}
.nav .menu-nav.open {
  transform: translateY(0);
  height: 100vh;
}
.nav .menu-nav_item {
  width: 100%;
  padding: 2rem;
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.215);
}

.nav .menu-nav_item.open {
  transform: translateX(0);
}
.nav .menu-nav_item.active > a {
  color: rgb(92, 161, 207);
}
.nav .menu-nav_link {
  margin: 8px;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* padding: 2rem 0; */
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav_link:hover {
  color: rgb(92, 161, 207);
}

.menu-nav_link i {
  display: inline-block;
  margin-right: 1rem;
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  transition-delay: 0.55s;
}






@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



.about {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top,rgba(39, 39, 39, 0.1), rgba(0,0,0)) center top;
}

.about_top-wrapper {
  width: 100%;
  height: 90vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_top {
  width: 100%;
  margin:0 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-size: cover;
  background-color: black;
}

.about_top-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about_top h3 {
  font-size: 1.6rem;
  letter-spacing: .1rem;

}

.about_top .helpful{
  color: rgb(251, 221, 85);
  /* color: rgb(231, 221, 112); */
}

.about_top .curious{
  /* color: rgb(248, 123, 112); */
  color: #f78f9c;
}

.about_top .energetic{
  color: rgb(205, 86, 165);
}

.about_top .creative{
  color: #5ca1cf;
}

.about_bio-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_bio-image .profile-image {
  height: 220px;
  width: 220px;
  padding: 5px;
  border-radius: 10%;
  backdrop-filter: blur(10px);
}
.about_bio-image p {
  padding: 1rem 0 ;
}
.about_bio {
  width: 65vw;
  margin: 8rem 0;
  padding: 0 5px;
  line-height: 1.4;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.about-sections_heading {
  font-weight: bold;
  padding-bottom: 3rem;
  color: rgb(92, 161, 207);
  text-align: center;
}


.text-secondary {
  padding-bottom: 1rem;
  text-align: center;
}
.about .jobs {
  width: 100%;
  padding: 8rem 0 ;
  background: black;
}

.about .jobs .icon-image {
  border-radius: 5px;
  margin: 6px 0;
}
.about .jobs .icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}




.about .jobs-grid {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
 
  /* flex-direction: column; */
  gap: 2rem;
}

.about .jobs_job {
  width: 220px;
  height: 400px;
  padding: 2px;
  border-radius: 25px;
  box-shadow: 0 0 5px 0;
 position: absolute;
 transition: transform 1s;
 transform-style: preserve-3d;

 
}


.about .social-icons {
  display: flex;
  flex-direction: column;
}

.card {
  height: 400px;
  width: 220px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  perspective: 500px;
}

.card:hover .jobs_job {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}


.icon-container,
.back {
  position: absolute; 
  color: #5ca1cf;
  text-align: center;
  font-size: 30px;
  border-radius: 25px;
  backface-visibility: hidden;
}

.back {
  width: 100%;
  height: 400px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(212, 211, 211, 0.121);
  transform: rotateY( 180deg );
}



.projects {
  padding: 80px 0;
}

.projects_bio-image {
  height: 100px;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.2)) center top;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects_bio-image .text-secondary {
  font-size: 2rem;

}
.projects_items {
  width: 250px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: grid;
  grid-template-columns: 300px; */
  gap: 2rem;
}

.projects_item-wrapper {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.projects_item {
  position: relative;
  border-bottom: 5px solid rgb(92, 161, 207);
  overflow: hidden;
  cursor: pointer;
  width: 250px;
  max-width: 500px;
  height: 200px;
  border-radius: 20px;
}

.projects_item img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.projects_item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background:  rgb(92, 161, 207);;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects_item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects_item:hover .projects-btn {
  opacity: 1;
}

.projects-btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects-btn {
  opacity: 0;
  color: black;
  transition: all 0.5s ease-in-out;
}
.projects-btn:hover {
  color: white;
}

.projects .social-icons {
  display: flex;
  flex-direction: column;
}

.project-info {
  padding: 1rem;
  background-color: #272727;
  font-size: .6rem;
  text-align: center;
}

.project-info h3 {
  color:  #5ca1cfb0;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.2rem;

}

.project-info p {
  font-size: .9rem;
  line-height: 1.5;

}

.project-stack {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-stack li {
  margin: 5px;
  padding: .5rem;
  color: rgb(220, 220, 220);
  /* background-color: black; */
  border-radius: 5px;
  border: 1px solid #5ca1cf;
  font-size: .7rem;
}

.contact {
  padding: 20px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background:rgb(0, 0, 0);
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
 
}

.contact-wrapper {
  /* width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10; */
  width: 310px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.contact-wrapper .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.contact-wrapper  .shape:first-child {
  background: linear-gradient(
    rgb(205, 86, 165),
    #5ca1cf
  );
  left: -80px;
  top: -80px;
}


.contact-wrapper .shape:nth-child(2) {
  background: linear-gradient(
    to right,
    #f78f9c,
    rgb(251, 221, 85)
  );
  right: -30px;
  bottom: -80px;
}
.contact-list {
  width: 100%;
  padding: 1rem 0;
  margin:0 auto;
  display: flex;
  text-align: center;
  gap: 2rem;
  font-size: 1.2rem;
  /* filter: drop-shadow(8px); */

  /* background-color: rgba(255, 255, 255, 0.258);*/
  /* backdrop-filter: blur(5px) ; */
  /* border-radius: 25px;
  box-shadow: 0 0 5px 0; */
}


/* .contact-box {
  height: 100%;
  padding: 4rem 0 0;
  text-align: center
} */

  
      /* background:
      linear-gradient(
          to right,
          rgba($primary-color, 0.3),
          rgba($primary-color, 0.9)
      ), 
      url('../../images/bg1.jpg') center center;
      background-size: cover;
      border-bottom: 1px solid $lila;*/

  

.form {
    color: white;
    letter-spacing: 0.5px;
    outline: none;
    height: 500px;
    width: 310px;
    margin: 0 auto;
    padding: 2rem;
    /* background-color: rgba(0, 0, 0, 0.7); */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  }


  label {
    font-size: 16px;
    font-weight: 500px;

  }

.form input, textarea, button {
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem;
    margin-bottom: 0.5rem ;
    border-radius: 3px;
    border: none;
}
.form h3 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 500px;
    line-height: 42px;

}

input, textarea {
  color: white;
  background-color: rgba(255, 255, 255, 0.07);
}
      
input {
    height: 2.5rem;
}

textarea {
  height: 150px;
}

input:focus, textarea:focus {
    outline: 1px solid  rgba(255, 255, 255, 0.447);
    border: none;
}

::placeholder {
    padding-left: 0.5rem;  
    font-family: Arial, Helvetica, sans-serif;
}
  
button {
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    background-color: white;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 5px;
}
  
button:hover {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.011);
  color: white;
  cursor: pointer;
  transition: all .5s
}
      
 

.contact .social-icons {
  flex-direction: row;
  position: initial;
  margin-top: 2rem;
  padding: 1rem 2rem;
}



@media screen and (min-width: 520px) {

  .home{
    padding-top: 35vh;
  }

  .home-name {
    font-size: 4rem;
  }

  .cv-wrapper {
    padding-top: .5rem;
    flex-direction: row;
    gap: 3rem;
  }

  .about_top {
    margin: 0;
  }


  .about_top-wrapper {
    gap: 5rem;
    margin: 0;
  }


  .about .jobs-grid {
    grid-template-columns: repeat(3,200px);
    gap: 35px;
  }

  .projects {
    width: 100%;
  }

  .projects_items {
    width: 70%;
  }

  .projects_item {
    width: 300px;
  }


  .form {
    width: 430px;
  }

  input {
    height: 3rem;
}

  .contact-wrapper {
    width: 430px;
  }

  .footer-contact {
    transform: none;
  }

 
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav .menu-nav {
    align-items: center;
    justify-content: center;
  }

  .menu-nav_link i {
    display: none;
  }


   .languages {
    display: block !important;
    /* visibility: visible; */
    margin-left: 0rem;
    font-size: .7rem;
  }

  .languages div {
    padding: 5px;
  }

 .languages  div:first-of-type {
    color: pink;
  }

  .languages  div:nth-last-of-type(1) {
    color: rgb(92, 161, 207);
  }


 

  .menu-btn {
    display: none;
    visibility: hidden;
  }

  .nav {
    display: flex;
    visibility: visible;
    width: 80%;
  }
  .nav .menu-nav {
    display: block;
    transform: translate(0);
    height: 100%;
    width: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav_item {
    width: 0;
    padding: 0;
    border-bottom: none;
    display: inline;
    padding-left: 1.5rem;
  }


  .nav .menu-nav_link {
    font-size: 1.2rem;
  }

  .home, .contact {
    background-position: 0 10%;
  }

  .footer-horizontal {
    transform: none;
  }


  .about-sections_heading {
    font-size: 2rem;

  }

  .about_top-wrapper {
    height: 85vh;
  }

  .about_top {
    flex-direction: row;
  }

  .about_top h3 {
    font-size: 2rem;
  }



  .projects_item-wrapper {
    width: 100%;

  }

  .projects_item {
    width: 70%;
    height: 100%;
    height: 250px;
    
  }

  .projects_item img {
   
    min-height: 250px;
   
  }

  .project-info {
    width: 70%;
    padding: 1rem;
    background-color: #272727;
    font-size: .7rem;
}

.project-info p {
  font-size: 1rem;
}

.project-info h3 {
  color:  #5ca1cfb0;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.project-stack li {
  font-size: 1rem;
}

  .projects .text-secondary {
    font-size: 3rem;
  }

  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .home, .contact {
  /* padding-top: 45vh;*/
  }

  .about_bio-image {

    /* height: 50vh; */
  }

  .about_bio {
    font-size: 1.3rem;
  }

  .about_top {
    flex-direction: row;
  }

  .about_top h3 {
    /* font-size: 2.0rem; */
  }

  .about_top-headings {
    flex-direction: row;
  }

  .projects {
    height: 100vh;
  }


  

  .projects_bio-image {
    /* height: 70vh;
    margin-top: -70px; */
  }


  .projects_item-wrapper {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;

  }

  .projects_item {
    width: 70%;
    height: 100%;
    height: 280px;
    
  }

  .projects_item img {
   
    min-height: 280px;
   
  }


 
  .projects .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1600px) {

  .about_top h3 {
    font-size: 2.2rem;
  }
  
  .about_bio {
    font-size: 1.5rem;
  }

  .projects_item-wrapper {
    width: 100%;

  }

  .projects_item {
    width: 70%;
    height: 100%;
    height: 300px;
    
  }

  .projects_item img {
   
    min-height: 300px;
   
  }


  .projects_info {
    width: 50%;
  }

  .project-info h3{
    font-size: 1.8rem;
  }

  .project-info p{
    font-size: 1.2rem;
  }

  .contact-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

body {
  background: #272727;
  /* background: linear-gradient(to top, rgb(22, 21, 21,0.3), rgb(0, 0, 0));; */
  color: white;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.text-secondary {
  color: rgb(92, 161, 207);
  margin: 6px;
}

header {
  position: fixed;
  /* z-index: 2; */
  /* padding: 1rem;  */
  width: 100%;
  height: 80px; 
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  background-color: black;
  z-index: 6;
}

.logo {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.logo img { 
height: 37px;
}


main {
  width: 100%;
  /* height: 100%; */
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: rgb(92, 161, 207);
}


footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: white;
}

/*# sourceMappingURL=main.css.map */
